.hero {
  margin-top: 58px;
  padding: 90px 0;
  background: url("/assets/img/hero.jpg") no-repeat center center fixed / cover;
  color: #fff;
  @include media-breakpoint-up(md) {
    margin-top: 90px;
    padding: 200px 0;
  }

  &__heading {
    @include media-breakpoint-down(sm) {
      font-size:28px;
    }
  }

  &__copy {
    font-size:22px;
    @include media-breakpoint-up(lg) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__btns {
    .btn {
      @include media-breakpoint-down(sm) {
        width: 100%;
        display: block;
        margin-top:12px;
      }
    }
  }
}

.aim {
  text-align: left;
  padding: 80px 0;
  @include media-breakpoint-up(sm) {
    padding: 120px 0;
    text-align: center;
  }
}

.testimonial {
  padding: 90px 0;
  color: #fff;
  background: url("/assets/img/hero.jpg") no-repeat center center / cover;
  @include media-breakpoint-up(sm) {
    background: url("/assets/img/hero.jpg") no-repeat center center fixed / cover;
  }
  &__copy {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Nexa-bold', 'Roboto', verdana;
    text-shadow: 0 2px 3px #000;
    @include media-breakpoint-up(md) {
      width: 55%;
      margin: 0 auto;
    }
  }

  &__name {
    font-size: 18px;
  }

  &__stars {
    i {
      color: $yellow;
    }
  }
}

.products {
  padding: 50px 0;
  @include media-breakpoint-up(sm) {
    padding: 120px 0;
  }

  .item-box {
    position: relative;
    padding-left: 56px;
    margin-bottom: 24px;
    @include media-breakpoint-only(sm) {
      text-align: center;
      padding-left: 0;
      padding-top: 56px;
    }

    &::before {
      text-decoration: inherit;
      color: $gray-600;
      position: absolute;
      top: 12px;
      left: 14px;
      width:32px;
      @include media-breakpoint-only(sm) {
        left:calc(50% - 20px);
        text-align: center;
        top: 0;
      }
      @include media-breakpoint-up(md) {
        top: -5px;
        left: 0;
      }
    }

    &--printing {
      &::before {
        color: $gray-600;
        content: url("/assets/img/print.svg");
      }
    }

    &--card {
      &::before {
        content: url("/assets/img/cut.svg");
      }
    }

    &--building {
      &::before {
        content: url("/assets/img/bookmark.svg");
      }
    }

    &--sign {
      &::before {
        content: url("/assets/img/sign.svg");
      }
    }

    &--wrench {
      &::before {
        content: url("/assets/img/wrench.svg");
      }
    }

    &--pen {
      &::before {
        content: url("/assets/img/paint-brush.svg");
      }
    }
  }
}
