.hero {
  margin-top: 58px;
  padding: 90px 0;
  background: url("/assets/img/hero.jpg") no-repeat center center fixed / cover;
  color: #fff;
  @include media-breakpoint-up(md) {
    margin-top: 90px;
    padding: 200px 0;
  }

  &__heading {
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  &__copy {
    font-size: 22px;
    @include media-breakpoint-up(lg) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__btns {
    .btn {
      @include media-breakpoint-down(sm) {
        width: 100%;
        display: block;
        margin-top: 12px;
      }
    }
  }
}

.aim {
  text-align: left;
  padding: 80px 0;
  @include media-breakpoint-up(sm) {
    padding: 120px 0;
    text-align: center;
  }
}

.testimonial {
  padding: 90px 0;
  color: #fff;
  background: url("/assets/img/hero.jpg") no-repeat center center fixed / cover;

  &__copy {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Nexa-bold', 'Roboto', verdana;
    text-shadow: 0 2px 3px #000;
    @include media-breakpoint-up(md) {
      width: 55%;
      margin: 0 auto;
    }
  }

  &__name {
    font-size: 18px;
  }

  &__stars {
    i {
      color: $yellow;
    }
  }
}

.products {
  padding: 50px 0;
  @include media-breakpoint-up(sm) {
    padding: 120px 0;
  }

  .item-box {
    position: relative;
    padding-left: 56px;
    margin-bottom: 24px;
    @include media-breakpoint-only(sm) {
      text-align: center;
      padding-left: 0;
      padding-top: 56px;
    }

    &::before {
      text-decoration: inherit;
      color: $gray-600;
      position: absolute;
      top: 12px;
      left: 14px;
      width: 32px;
      @include media-breakpoint-only(sm) {
        left: calc(50% - 20px);
        text-align: center;
        top: 0;
      }
      @include media-breakpoint-up(md) {
        top: -5px;
        left: 0;
      }
    }

    &--printing {
      &::before {
        color: $gray-600;
        content: url("/assets/img/print.svg");
      }
    }

    &--card {
      &::before {
        content: url("/assets/img/cut.svg");
      }
    }

    &--building {
      &::before {
        content: url("/assets/img/bookmark.svg");
      }
    }

    &--sign {
      &::before {
        content: url("/assets/img/sign.svg");
      }
    }

    &--wrench {
      &::before {
        content: url("/assets/img/wrench.svg");
      }
    }

    &--pen {
      &::before {
        content: url("/assets/img/paint-brush.svg");
      }
    }
  }
}

.contact {
  padding: 90px 0;
  color: #fff;
  background: url("/assets/img/hero.jpg") no-repeat center center fixed / cover;

  p {
    text-shadow: 0 2px 3px #000;
  }

  form {
    .form-input,
    .form-label {
      display: block;
      width: 100%;
    }

    .form-label {
      color: #fff;
      text-shadow: 0 2px 3px #000;
      font-family: "Roboto";
    }

    .form-input {
      border: none;
      background: #fff;
      height: 48px;
      border-radius: 3px;
      margin-bottom: 12px;
      padding: 0 12px;
      font-size: 18px;

      &--textarea {
        height: 200px;
      }
    }

    .js .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .inputfile + label {
      max-width: 100%;
      font-size: 1.25rem;
      /* 20px */
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0.625rem 1.25rem;
      width: 100%;
      /* 10px 20px */
    }

    .no-js .inputfile + label {
      display: none;
    }

    .inputfile {
      &.has-focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }

      &:focus {
        + label {
          outline: 1px dotted #000;
          outline: -webkit-focus-ring-color auto 5px;
        }

        + label {
          border-color: #FBDB0C;
        }
      }

      + label {
        * {
          /* pointer-events: none; */
          /* in case of FastClick lib use */
        }

        svg {
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          margin-top: -0.25em;
          /* 4px */
          margin-right: 0.25em;
          /* 4px */
        }
        color: #212529;
        border: 1px solid #FBDB0C;
        background-color: #fff;
        padding: 0;
      }

      &.has-focus + label {
        border-color: #FBDB0C;
      }

      + label {
        &:hover {
          border-color: #FBDB0C;
        }

        span,
        strong {
          padding: 0.625rem 1.25rem;
          /* 10px 20px */
        }

        span {
          width: 200px;
          min-height: 2em;
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: top;
        }

        strong {
          height: 100%;
          color: #212529;
          background-color: #FBDB0C;
          display: inline-block;
          font-weight: 400;
        }
      }

      &.has-focus + label strong,
      &:focus + label strong,
      + label:hover strong {
        background-color: #FBDB0C;
      }
    }
    @media screen and (max-width: 50em) {
      .inputfile + label strong {
        display: block;
      }
    }

    .synth-label {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  button {
    margin: 12px 0;
    color: $text;
  }

  .sk-circle {
    margin-bottom: -6px;
    margin-left: 7px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}
