.hero {
  margin-top: 58px;
  padding: 90px 0;
  background: url("/assets/img/hero.jpg") no-repeat center center / cover;
  color: #fff;
  @include media-breakpoint-up(md) {
    margin-top: 90px;
    padding: 200px 0;
  }

  &__heading {
    @include media-breakpoint-down(sm) {
      font-size:28px;
    }
  }

  &__copy {
    font-size:22px;
    @include media-breakpoint-up(lg) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__btns {
    .btn {
      @include media-breakpoint-down(sm) {
        width: 100%;
        display: block;
        margin-top:12px;
      }
    }
  }
}
