.btn-fresh {
  color: $gray-800;
  background-color: #FBDB0C;
  border-color: #FBDB0C;
}

.btn-fresh:hover {
  color: $gray-800;
  background-color: darken(#FBDB0C, 10%);
  border-color: darken(#FBDB0C, 20%);
}

.btn-fresh.focus,
.btn-fresh:focus {
  box-shadow: 0 0 0 0.2rem rgba(#FBDB0C, .5);
}

.btn-fresh.disabled,
.btn-fresh:disabled {
  color: $gray-800;
  background-color: #FBDB0C;
  border-color: #FBDB0C;
}

.btn-fresh:not(:disabled):not(.disabled).active,
.btn-fresh:not(:disabled):not(.disabled):active,
.show > .btn-fresh.dropdown-toggle {
  color: $gray-800;
  background-color: darken(#FBDB0C, 10%);
  border-color: darken(#FBDB0C, 20%);
}

.btn-fresh:not(:disabled):not(.disabled).active:focus,
.btn-fresh:not(:disabled):not(.disabled):active:focus,
.show > .btn-fresh.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(#FBDB0C, .5);
}

.btn-outline-light {
  color: #f8f9fa;
  background-color: rgba(#000, 0.25);
  background-image: none;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: rgba(#000, 0.25);;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
